## daily_system_reports.csv

The averages of all daily_unit_reports.csv for a given day, to provide a system wide snapshot.

 - *day*
 - *elevators_num_fixes*
 - *escalators_availability*
 - *escalators_num_fixes*
 - *elevators_num_inspections*
 - *elevators_num_breaks*
 - *escalators_num_inspections*
 - *elevators_num_units*: Number of elevators included in the daily system report.
 - *escalators_num_units*: Number of escalators included in the daily system report.
 - *escalators_num_breaks*
 - *elevators_broken_time_percentage*
 - *elevators_availability*
 - *escalators_broken_time_percentage*

In [22]:
import pandas as pd

In [23]:
data = pd.read_csv('C:\\Users\\606569\\Documents\\my_GitHub\\D.C-metro-analysis\\data\\daily_system_reports.csv')

In [24]:
data.head()

,elevators_num_fixes,escalators_availability,escalators_num_fixes,elevators_num_inspections,elevators_num_breaks,escalators_num_inspections,elevators_num_units,escalators_num_units,escalators_num_breaks,elevators_broken_time_percentage,elevators_availability,day,escalators_broken_time_percentage
0,0,0.934766,32,0,0,1,0,588,59,0.0,1.0,2013-06-01,0.036173
1,0,0.920018,73,0,0,35,0,588,61,0.0,1.0,2013-06-02,0.049931
2,0,0.935932,71,0,0,46,0,588,71,0.0,1.0,2013-06-03,0.032025
3,0,0.935348,59,0,0,63,0,588,58,0.0,1.0,2013-06-04,0.027606
4,0,0.936133,62,0,0,42,0,588,66,0.0,1.0,2013-06-05,0.031049

This df is quite big, so to make this df more managable, I will break it down to different escalators and elevators df's, instead of having both on 1 df

In [25]:
data.columns

Index(['elevators_num_fixes', 'escalators_availability',
       'escalators_num_fixes', 'elevators_num_inspections',
       'elevators_num_breaks', 'escalators_num_inspections',
       'elevators_num_units', 'escalators_num_units', 'escalators_num_breaks',
       'elevators_broken_time_percentage', 'elevators_availability', 'day',
       'escalators_broken_time_percentage'],
      dtype='object')

In [26]:
escalators = data.drop(['elevators_num_fixes',
       'elevators_num_inspections',
       'elevators_num_breaks', 
       'elevators_num_units',
       'elevators_broken_time_percentage', 
        'elevators_availability'], axis=1)

In [27]:
elavators = data.drop(['escalators_availability',
       'escalators_num_fixes',
       'escalators_num_inspections',
      'escalators_num_units', 'escalators_num_breaks',
       'escalators_broken_time_percentage'], axis = 1)

In [28]:
escalators.head()

,escalators_availability,escalators_num_fixes,escalators_num_inspections,escalators_num_units,escalators_num_breaks,day,escalators_broken_time_percentage
0,0.934766,32,1,588,59,2013-06-01,0.036173
1,0.920018,73,35,588,61,2013-06-02,0.049931
2,0.935932,71,46,588,71,2013-06-03,0.032025
3,0.935348,59,63,588,58,2013-06-04,0.027606
4,0.936133,62,42,588,66,2013-06-05,0.031049

In [29]:
elevators.head()

,escalators_availability,escalators_num_fixes,escalators_num_inspections,escalators_num_units,escalators_num_breaks,day,escalators_broken_time_percentage
0,0.934766,32,1,588,59,2013-06-01,0.036173
1,0.920018,73,35,588,61,2013-06-02,0.049931
2,0.935932,71,46,588,71,2013-06-03,0.032025
3,0.935348,59,63,588,58,2013-06-04,0.027606
4,0.936133,62,42,588,66,2013-06-05,0.031049

# Cleaning the Data

I want to break down the full date column into a year, month and day column, and rename the day column to a full_date column

In [7]:
data = data.rename(columns = {'day' : 'full_date'})

In [8]:
# this will break down our full_date column and make 3 new columns ('year', 'month', 'day')
data['year']=[d.split('-')[0] for d in data.full_date]
data['month']=[d.split('-')[1] for d in data.full_date]
data['day']=[d.split('-')[2]for d in data.full_date]

In [9]:
data.head()

,elevators_num_fixes,escalators_availability,escalators_num_fixes,elevators_num_inspections,elevators_num_breaks,escalators_num_inspections,elevators_num_units,escalators_num_units,escalators_num_breaks,elevators_broken_time_percentage,elevators_availability,full_date,escalators_broken_time_percentage,year,month,day
0,0,0.934766,32,0,0,1,0,588,59,0.0,1.0,2013-06-01,0.036173,2013,06,01
1,0,0.920018,73,0,0,35,0,588,61,0.0,1.0,2013-06-02,0.049931,2013,06,02
2,0,0.935932,71,0,0,46,0,588,71,0.0,1.0,2013-06-03,0.032025,2013,06,03
3,0,0.935348,59,0,0,63,0,588,58,0.0,1.0,2013-06-04,0.027606,2013,06,04
4,0,0.936133,62,0,0,42,0,588,66,0.0,1.0,2013-06-05,0.031049,2013,06,05